.container {
    display: flex;
}

#ol-map {
    width: 33vw;
    height: 33vw;
}

#cesium {
    width: 100%;
}

.tools {
    margin-top: 1rem;
}

.tools > div {
    margin: 0 0.5rem 0.5rem 0;
}

#common-tools {
    border-top: solid 1px black;
}

.title {
    font-weight: bold;
}